<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="logo" onclick="showSection('inicio')">
            <div class="logo-icon">T</div>
            TYMON
        </a>
        <ul class="nav-links">
            <li><a href="#" onclick="showSection('inicio')">Inicio</a></li>
            <li><a href="#" onclick="showSection('nosotros')">Nosotros</a></li>
            <li><a href="#" onclick="showSection('servicios')">Servicios</a></li>
            <li><a href="#" onclick="showSection('contacto')">Contacto</a></li>
            <li><a href="#" class="login-btn" onclick="openModal()">Login</a></li>
        </ul>
    </div>
</nav>
